@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;   
}

@media (max-width: 340px) {
    body {
        font-size: 0.9rem;
    }
}

/* основной блок формы */
.wrapper__brief {
    background-color: rgb(250, 250, 250);
    color: rgb(50, 50, 50);    
}


.wrapper {
    break-before: avoid;
    margin: 0 auto;
}

.brief-content {
    margin: 0 auto;
    padding: 0 0.5em;
    line-height: 1.3;
}

@media (min-width: 560px) {
    .brief-content {
        max-width: 960px;
    }
}

.brief-title {
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}

@media (min-width: 560px) {
    .brief-title {
        font-size: 1.4em;
    }
}

.brief-form__item {
    break-inside: avoid;
    margin-bottom: 0.3em;
    padding: 0.3em;
    border-radius: 0.2em;
    background-color: rgb(230, 230, 230);

    font-size: 0.9em;
}

@media (min-width: 560px) {
    .brief-form__item {
        margin-bottom: 0.6em;
        padding: 0.6em;
        border-radius: 0.6em;

        font-size: 1em;
    }
}

.brief-form__label {
    display: block;
    margin-bottom: 0.2em;
    font-weight: 600;
}

@media (min-width: 560px) {
    .brief-form__label {
        padding-bottom: 0.4em;
        font-weight: 700;
    }
}

.clarification {
    font-weight: lighter;
    color: rgb(100, 100, 100);
    font-size: 0.9em;
}



/** OPTIONS ITEM */
.options__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.6em;
    align-items: center;
}

@media (min-width: 560px) {
    .options__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1.3vw;
        align-items: center;
    }
}

.options__item {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-size: 0.9em;

    border: 1px solid rgb(117, 117, 117);
    border-radius: 0.5em;

    text-align: center;
    background-color: rgb(240, 240, 240);

    cursor: pointer;

    transition: all 0.2s ease-out;
}

@media (min-width: 560px) {
    .options__item {
        border-radius: 1em;
    }
}

.options__item:hover {
    border-color: rgb(80, 80, 80);

    text-shadow: 0px 0px 7px rgb(117, 117, 117),
        0px 0px 4px rgb(117, 117, 117),
        0px 0px 0.5px rgb(117, 117, 117);
}

.logo__img {
    margin-bottom: 0.5em;
}

.options__item img {
    width: 100%;
    height: 100%;

    border-radius: 0.5em 0.5em 0 0;

    object-fit: contain;

    opacity: 95%;    
}

@media (min-width: 560px) {
    .options__item img {
        border-radius: 1em 1em 0 0;
        /* font-size: 1.2em; */
    }
}

.options__item img:hover {
    opacity: 100%;
}

.options__label {
    display: block;
    padding: 0 0.1em;
}

@media (min-width: 560px) {
    .options__label {
        padding: 0.3em;
        /* margin: 1.5em 0; */
        /* font-size: 1.2em; */
    }
}

.options__input {
    display: block;
    margin: 0.5em 0;
}

/** TEXT INPUT */

.brief-form__input {
    width: 100%;
    padding: 0.3em;

    font-size: 1em;

    border: 1px solid rgb(117, 117, 117);
    border-radius: 0.2em;
    background-color: rgb(250, 250, 250);
}

.brief-form__input:focus {
    box-shadow: 0 0 5px rgb(117, 117, 117),
        inset 0 0 3px rgb(117, 117, 117);
}

.brief-form__input textarea {
    min-height: 70px;
}

@media (min-width: 560px) {
    .brief-form__item textarea {
        min-height: 120px;
    }
}



.btn {
    display: block;
    margin: 0 auto;
    padding: 0.3em 4em;
    font-size: 1.1em;
    
    background-color: rgb(197, 255, 197);
    border-radius: 0.4em;
}

.btn:hover {
    box-shadow: 0px 0px 6px rgba(117, 117, 117, 0.7),
        0px 0px 1px rgba(117, 117, 117, 0.8);
        text-decoration: underline;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/** PRINT PDF  */

.wrapper__pdf{
    background-color: rgb(250, 250, 250);
    color: rgb(50, 50, 50);    
}

.brief-content__pdf {
    width: 960px;
    margin: 0 auto;
    padding: 0 0.5em;
    line-height: 1.3;
}

.brief-title__pdf {
    /* padding: 0.2em; */

    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}

.brief-item__pdf {
    width: 100%;
    margin-bottom: 0.3em;
    padding: 0.3em;
    border-radius: 0.4em;
    background-color: rgb(230, 230, 230);    
}


.item-label__pdf {
    display: block;
    margin-bottom: 0.3em;
    font-weight: 600;
}

.form-value {
    padding: 0.05em 0;
    font-size: 0.9em;
    font-weight: normal;
    background-color: rgb(250, 250, 250);
}

.form-value__options {
    padding: 0.05em 0;
    font-size: 0.9em;
    font-weight: normal;
    background-color: rgb(230, 230, 230);
}

/* group-options-container__pdf */
.group-options__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: -0.15em;
    /* flex-wrap: wrap; */

}

.group-options__container .brief-item__pdf {
    max-width: 100%;
    margin-right: 0.15em;
    margin-left: 0.15em;
    flex-grow: 1;
}
.group-options__container .brief-item__pdf:last-child {
    margin-right: -0.2em;
}

/* .option-container__pdf */
.container__to-pdf {    
    display: flex;
    justify-content: flex-start;
}

/* .option-container__pdf */
.container__to-pdf img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.item__to-pdf {
    max-width: 95px;
    display: flex;
    margin: 0.3em;
    padding: 0.2em;
    height: auto;
    min-height: 115px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(117, 117, 117);
    border-radius: 0.3em;
    
}

.item__to-pdf label {
    display: block;
    margin-bottom: 0.3em;
    padding: 0;

    font-size: 0.9em;
}











